.popup__container {
    position: relative;
    margin: auto;
    /* padding: 40px 40px 0 0;*/
    padding: 40px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        padding: 48px 0 0 0;
      }
  }